body {
    overflow-x: hidden;
}

input:focus::placeholder {
    color: transparent;
    transition-duration: 0.7s;
  }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(170, 170, 170, 0.77);
    opacity: 1; /* Firefox */
    text-align: center;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(170, 170, 170, 0.77);
    text-align: center;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(170, 170, 170, 0.77);
    text-align: center;
  }

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(148, 148, 148, 0.77);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(170, 170, 170, 0.77);
}


/*NAVBAR*/

.navbar-nav {
    position: absolute !important;
}

.container-logo {
    max-width: min-content !important;
    margin: 0 !important;
    align-self: flex-end;
}

.container-patch {
    max-width: none;
    min-width: 55vw;
    margin-left: 5vw !important;
}

.navbar-dropdown {
    justify-self: center;
    align-self: center;
}

.dropdown-menu.show {
    --theWidth: 30px;
    max-width: var(--theWidth) !important;
    background-color: rgb(39, 38, 38);
    margin: 0 !important;
    position: absolute !important;
    transform: translate(calc(var(--theWidth)*-3), 0);
    border-radius: 0% 0% 5px 5px!important;
    min-height: min-content !important;
}

.dropdown-item {
    color: rgba(255, 255, 255, .77) !important;
}

.dropdown-menu.show>a:hover {
    background-color: rgba(170, 170, 170, 0.77) !important;
}

.navbar-custom {
    background: rgba(39, 38, 38, 0.77);
    height: 10vh!important;
    min-height: 15vh!important;
    padding: 0 !important;
    min-width: 100vw;
}

.profile-pic {
    max-width: 44px;
}

a {
    text-decoration: none !important;
    color: rgba(170, 170, 170, 1) !important;
}

a:hover {
    color: rgba(255, 255, 255, 1)!important;
}


/*HERO*/

.hero {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

.hero-background {
    z-index: -2;
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100vw!important;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
    filter: brightness(77%)blur(1px) contrast(150%);
}

.hero-container {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 85vh;
}


/*HERO TITTLE*/

.text-hero {
    color: rgb(255, 255, 255);
    /*display:inline-flex;*/
    margin: 0;
}

.my {
    font-weight: bold;
    animation-duration: 2000ms!important;
}

.tinerary {
    font-weight: lighter;
    animation-delay: 200ms!important;
}

.slogan {
    font-weight: lighter;
    text-align: center;
    word-break: break-word;
}

h3>div {
    animation-delay: 1000ms !important;
    animation-duration: 3300ms !important;
}

.tittle-container {
    align-self: center;
    display: flex;
    padding: 3vh 3vw;
    justify-content: center;
    align-content: center;
    margin-top: 7vh;
    border-radius: 1px;
    /*background-color: rgba(214, 214, 214, 0.77);*/
}


/*BUTTON*/

.hero-button {
    background-color: rgba(39, 38, 38, 0.77);
    border: none;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    text-align: center;
    font-weight: var(--bs-body-font-family);
    font-family: sans-serif;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 1700ms;
    cursor: pointer;
    width: 33vw;
    min-width: min-content;
    animation-duration: 3500ms!important;
    animation-delay: 2500ms !important;
}

.button-items {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.hero-button:hover {
    background-color: rgba(255, 255, 255, 0.77);
    color: rgba(39, 38, 38, 1);
}

a{
    transition-duration: 1700ms;
}

a:hover>.hero-button{
    color:rgb(39, 38, 38)!important;
}

a>.hero-button:hover>.button-items>.plane {
    filter: invert(0%);
}

.plane {
    width: 40px;
    height: 40px;
    filter: invert(100%);
    transition-duration: 1700ms;
}

.button-text {
    padding-right: 40px;
    margin-left: 30px;
}

.button-text-1 {
    margin: 0;
    animation: move 5s;
}

.button-text-2 {
    white-space: pre;
    font-weight: bolder;
    font-style: oblique;
    margin: 0;
    animation: move 5s;
}


/*BANNER*/

.banner-container {
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: rgba(39, 38, 38);
    color: rgba(255, 255, 255);
}

.social-media {
    width: 7vw;
    height: 7vw;
    margin: 1rem 5rem 1rem 5rem;
    filter: brightness(88%) grayscale(50%);
}

.social-media:hover {
    filter: brightness(100%) grayscale(0%);
}


/*CARROUSEL*/

.ttl-crsl-cont {
    min-width: 100vw;
    min-height: 13vh;
    margin: 10vh 0 2vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(39, 38, 38, 0.77);
    color: rgba(255, 255, 255, 1);
}

.row {
    justify-content: center;
    margin-top: 2rem !important;
}

.custom-card {
    margin: 3vh 0vh 3vh 0vh !important;
}

.container-crsl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(170, 170, 170);
    background: radial-gradient(circle, rgba(170, 170, 170, 1) 0%, rgba(39, 38, 38, 1) 100%);
    min-height: max-content!important;
    min-width: 100vw;
}

.card-img-top {
    object-fit: cover;
    min-height: 33vh;
    max-height: 33vh;
}

.card-body {
    background: rgba(39, 38, 38);
    text-align: center;
    color: rgba(255, 255, 255, 1) !important;
}

.carousel-indicators {
    transform: translateY(-3vh);
}

.card {
    border: none !important;
    ;
}

.carousel-item {
    margin-bottom: 15vh;
}


/*FOOTER*/

.footer-container {
    min-height: 33vh;
    min-width: 100vw;
    max-width: 100vw !important;
    background: black;
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-wrap: nowrap;
    white-space: pre-wrap;
}

.txt-inl {
    display: inline-flex;
    margin: 2vh;
}

.ctc-info {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-break: break-word;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
}

.copyright {
    align-self: center;
    justify-self: center;
    text-align: center;
}

/*CITIES*/

.cucu {
    display: flex;
    min-width: 100vw !important;
    min-height: 100vh !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(140,140,140,1) 43%, rgba(111,111,111,1) 50%, rgba(38,39,39,1) 77%, rgba(140,140,140,1) 100%);
}

.wrapper {
    display: flex;
    min-width: min-content;
    min-height: min-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh 0 5vh 0;
}

.custom-card-cities{
    margin: 3vh 0vh 3vh 0vh;
    width: 66vw;
}

.img-cities{
    min-height: 33vh !important;
}

.img-cities:hover{
    filter: brightness(77%);
}

.search-tittle-container{
    background-color: rgba(39, 38, 38, 0.77);
    border-radius: 1px;
    width: 100vw;
    margin: 3vh 0 3vh 0;
    padding: 2vh 0 2vh 0;
}
.search-tittle{
    color:rgb(255, 255, 255);
}

.form-control{
    width: 33vw !important;
    justify-self: center !important;
    align-self: center !important;
}

.img-not-found{
    min-height: 44vh !important;
    object-fit:fill;
}
.searchBar{
    width: 55vw;
    border-radius: 10px;
    text-align: center;
    border-width: 2px;
    border-color:rgba(170, 170, 170, 0.77);
}

/*CITY*/

.img-city{
    min-height: 33vh !important;
}
.construction{
    height: 44vh;
    width: 66vw;
    padding: 3vh;
    margin: 5vh 0 5vh 0;
    background-color: rgba(39, 38, 38, 0.77);
    color:rgba(255, 255, 255, 1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.city-card{
    min-width: 55vw !important;
    margin-top: 5vh;
}
/*SIGN IN*/
.sign-up-wrapper{
    min-height: 75vh;
    max-height: 75vh;
}
.sign-up{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
}
.sign-up-background{
        z-index: -2!important;
        margin: 0;
        padding: 0;
        width: 100vw;
        max-width: 100vw!important;
        height: 100vh;
        object-fit: cover;
        overflow: hidden;
        filter: brightness(100%)blur(2px) contrast(150%);
    
}

.form{
    background-color: rgba(39, 38, 38, 0.44);
    color: rgba(222, 222, 222, 1);
    padding: 2vh 3vw 2vh 3vw;
    width: 55vw;
    height: 77vh;
    
}
.outer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.outer>li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}
.outer li input{
    text-align: center;
    border-radius: 10px;
    background-color: rgba(111,111,111,.55);
    color: rgba(222, 222, 222, 1);
    outline: none;
    border:none;
    padding: 2px 10px;
    width: 33vw;
    transition-duration: 2s;
}
.outer li select{
    text-align: center;
    border-radius: 10px;
    background-color: rgba(111,111,111,.55);
    color: rgba(222, 222, 222, 1);
    outline: none;
    border:none;
    padding: 2px 10px;
    width: 33vw;
    transition-duration: 2s;
}

.password{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
}
.toggle-visibility {
    display: none;
    width: 20px;
    height: 20px;
}

.toggle-visibility + label{
    background: url('../src/assets/eye.png') no-repeat;
    filter:invert(85%);
    background-size:cover;
    height: 20px;
    width: 20px;
    display:inline-flex;
    padding: 0 0 0 0px;
    align-self: flex-end;
    margin-left: 1vw;
    transition-duration: 0.5s;
}

.toggle-visibility:checked + label{
    background-image: url('../src/assets/eye.png') no-repeat;
    filter: invert(100%);
    background-size:cover;
    height: 20px;
    width: 20px;
    display:inline-flex;
    padding: 0 0 0 0px;
    align-self: flex-end;
    margin-left: 1vw;
}

.outer li button{
    background-color: rgba(38,39,39,.77);
    color: rgba(222, 222, 222, 1);
    border-radius: 50px 50px 100px 100px;
    padding: 5px 15px;
    min-width: max-content;
    width: 22vw;
    outline: none;
    border:none;
    transition: 1.5s;
}
.outer li button:hover{
    color: rgba(38,39,39,.77);
    background-color: rgba(222, 222, 222, 1);
    transform: scale(1.1)
}

.legend-sign{
    align-self:center;
    justify-self: center;
    align-items: center;
    max-width: max-content;
}
.tooltip-inner{
    color:rgba(255, 255, 255, 1)!important;
    background-color:rgba(39, 38, 38, 0.77)!important;
}
.tooltip-arrow::before{
    border-right-color: rgba(39, 38, 38, 0.77)!important;
}


/*MEDIAQUERY*/

@media only screen and (max-width: 767px) {
    html {
        max-width: 100vw !important;
        overflow-x: hidden;
    }
    .navbar-nav {
        top: 13.5vh !important;
    }
    .hero-background {
        object-position: 10% 50%;
    }
    .profile-pic {
        min-width: 33px;
        min-height: 33px;
    }
    .collapse-patch {
        max-width: none;
        width: 100vw;
    }
    .container-patch {
        justify-self: flex-end !important;
        margin: 0 !important;
    }
    .dropdown-menu.show {
        --theWidth: 30px;
        margin: 0 !important;
        max-width: var(--theWidth) !important;
        position: absolute !important;
        transform: translate(calc(var(--theWidth)*-3), -1vh);
    }
    .hero-button {
        width: 100vw;
    }
    .social-media {
        width: 7vh;
        height: 7vh;
        margin: 1rem 2rem 1rem 2rem;
        filter: brightness(77%);
    }
    .another-patch {
        width: 100vw !important;
        left: 0!important;
        background-color: rgba(39, 38, 38, 0.77) !important;
        transform: translateY(1.4vh);
    }
    .form-control{
        width: 77vw !important;
    }
}


