/*NAVBAR*/


.container-logo{
    max-width:min-content !important;
    margin: 0 !important;
    align-self: flex-start;
}


.container-patch{
    max-width: none;
    min-width: 55vw;
}

.collapse-patch{
    max-width:min-content !important;
}


.navbar-dropdown{
    justify-self: center;
    align-self: center;
}

.dropdown-menu.show{
    --theWidth : 30px;
    max-width: var(--theWidth) !important;
    background-color: rgba(39, 38, 38, 0.77);
    margin:0 !important;
    position:absolute !important;
    transform: translate(calc(var(--theWidth)*-3), 7px);
    border-radius: 0% 0% 5px 5px!important;
}

.dropdown-item{
    color:rgba(255,255,255,.77) !important;

}
.dropdown-menu.show>a:hover{
    background-color: rgba(39, 38, 38, 0.77) !important;
}


.navbar-custom {
    background: rgba(39, 38, 38, 0.77);


}

.profile-pic{
    max-width: 44px;
}

/*HERO*/

.hero{
    height: 100vh;
    width: 100vw;
    position:absolute;
    top:0;
    z-index: -1;
    display:flex;
    flex-direction: column;
}

.hero-background{
    z-index: -2;
    margin: 0;
    padding:0;
    width:100vw;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
    filter:brightness(77%)blur(1px) contrast(150%);
}

.hero-container{
    margin:0;
    padding:0;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    align-content: center;
    height:70vh;
}





  /*HERO TITTLE*/

  .text-hero{
    color: rgb(255, 255, 255);
    display:inline-block;
    margin:0;
  }
  .my{
    font-weight: bold;
    animation-duration: 2000ms!important;
  }
  .tinerary{
    font-weight: lighter;
    animation-delay: 200ms!important;
  }

  .slogan{
      font-weight: lighter;
      text-align: center;
  }
  h3>div>span{
    animation-delay:1000ms !important;
    animation-duration:3300ms !important;
  }

  .tittle-container{
      align-self:center;
      display: flex;
      padding:3vh 3vw;
      justify-content: center;
      align-content: center;
      margin-top: 7vh;
      border-radius: 1px;
      /*background-color: rgba(214, 214, 214, 0.77);*/
      
  }
  .hero-button{
    background-color: rgba(39, 38, 38, 0.77);
    border: none;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    text-align: center;
    font-weight: var(--bs-body-font-family);
    font-family: sans-serif;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 1700ms;
    cursor: pointer;
    width:33vw;
    animation-duration: 3500ms!important;
    animation-delay:2500ms !important;
}

.hero-button:hover{
    background-color: rgba(255, 255, 255, 0.77);
    color: rgb(39, 38, 38);
}


/*MEDIAQUERY*/

@media only screen and (max-width: 768px) {
    .hero-background {
        object-position: 10% 50%;
    }
    .profile-pic{
        min-width: 33px;
        min-height: 33px;
    }
    .collapse-patch{
        max-width: none;
        width:100vw;
    }
    .container-patch{
        max-width: none;
        min-width: 77vw;
        margin:0 !important;
        padding:0 !important;
        
    }
    .dropdown-menu.show{
        --theWidth : 30px;
        margin:0 !important;
        max-width: var(--theWidth) !important;
        position:absolute !important;
        transform: translate(calc(var(--theWidth)*-3.3), 7px);
    }
  }

